<!--<div class="icon" *ngIf="showCheck" (click)="onChecked()">-->
  <!--<i class="material-icons">check</i>-->
<!--</div>-->
<button (mouseenter)="toggleCheck()"
        (mouseleave)="toggleCheck()"
        (click)="onChecked()">{{person?.data?.name}}</button>
<!--<div class="col-xs-3" *ngIf="isEditing">-->
  <!--<app-node-editor-->
    <!--(action)="onEditorAction($event)"-->
    <!--[person]="person">-->
  <!--</app-node-editor>-->
<!--</div>-->
<ul *ngIf="person?.children && person?.children.length > 0 && showChildren" >
  <li *ngFor="let person_ of person?.children" >
    <app-person-node (checked)="onChildChecked($event)" [person]="person_"></app-person-node>
  </li>
</ul>
