/*.icon {*/
  /*position: absolute;*/
  /*color: black;*/
  /*border: 1px solid lightgrey;*/
  /*background-color: white;*/
  /*font-size: 30px;*/
  /*top: -10px;*/
  /*left: -10px;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*border-radius: 100%;*/
  /*cursor: pointer;*/
/*}*/
