<div class="text-xs-center" *ngIf="isLoading">
  <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
</div>

<app-toast [message]="getToastMessage()"></app-toast>
<div class="container text-xs-center" *ngIf="!isLoading">
  <button class="btn btn-success" *ngIf="!treeExists" (click)="createRoot()">Specify Patriarch</button>
  <div class="note-editor shadow-2 col-xs-3" *ngIf="shouldShowCreateRootDialog()">
    <form (ngSubmit)="addRoot()">
      <input
        type="text"
        [(ngModel)]="getRoot().data.name"
        name="title"
        class="col-xs-4"
        placeholder="Fullname"
        name="title">
      <div class="actions col-xs-4 row between-xs">
        <button
          type="submit"
          class="btn-light">
          Done
        </button>
        <button
          (click)="closeRootCreatorDialog()"
          type="button"
          class="btn-danger_">
          Cancel
        </button>
      </div>
    </form>
  </div>
  <div class="tree" *ngIf="getTreeExistence()">
    <ul>
      <li>
        <app-person-node (updateTree)="onUpdateTree($event)" [person]="getTree()?._root"></app-person-node>
      </li>
    </ul>
  </div>
</div>
